body {
  font-family: Helvetica;
  background-color: gray;
}

header, #container, #main, img {
  border: 1px solid black;
  background-color: white;
}

header {
  padding-left: 20px;
}

#main {
  max-width: 960px;
  margin: 10px auto;
  text-align: center;
}

#container, #savable_image {
  min-width: 480px;
  min-height: 480px;
  display: inline-block;
}

#people {
  display: inline-block;
  vertical-align: top;
}
